.container > h1 {
    text-align: center;        /*text-center*/
    padding: 2.5rem 0;         /*py-10*/
    color: rgb(17 24 39);      /*text-gray-900*/
    letter-spacing: -0.025em;  /*tracking-tight*/
    font-weight: 800;          /*font-extrabold*/
    font-size: 2.25rem;        /*text-4xl*/
    line-height: 2.5rem;
}
@media (min-width: 640px) {
    .container > h1 { font-size: 3rem; line-height: 1 }    /*sm:text-5xl*/
}
@media (min-width: 768px) {
    .container > h1 { font-size: 3.75rem; line-height: 1 } /*md:text-6xl*/
}
